[Download]
username=
password=

;create one file for every supplier
;leave the username and password empty if they are not required
;rename the file to "credentialsSUPPLIERCODE.ini"
;these files shall not be shared