[Download]
username=username goes here
password=password goes here

;create one file for every supplier which requires credentials
;rename the file to "credentialsSUPPLIERCODE.ini"
;these files shall not be shared